$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  font-family: 'Roboto', sans-serif;
  color: #104557;
}

.playfair-display {
  font-family: 'Playfair Display', serif;
}

.italic {
  font-style: italic;
}

h6 {
  font-size: 7vw;
}

h5, h5 a {
  font-size: 10px;
}

h1 {
  font-size: 22px;
  margin: 0px;
  padding-bottom: 12px;
  color: #028090;
}

h2 {
  font-size: 15px;
  font-weight: regular;
  margin: 5px;
  color: #265B6D;
}

h3 {
  font-size: 15px;
  margin: 5px;
}

h4 {
  font-weight: 13px;
  margin: 0px;
  padding: 0px;
}

p, a {
  font-size: 14px;
}

a {
  color: #028090;
  font-weight: lighter;
}

a:hover {
  color: #015A65;
  text-transform: none;
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.bolder {
  font-weight: bolder;
}

.normal {
  font-weight: normal;
}

.lighter {
  font-weight: 300;
}

.row {
  margin: 0px;
}

.container-fluid {
  padding: 0px;
}

.navigation {
  background: #EFF4F5;
  border-radius: 0px;
  padding: 13px;
  margin: 0px;
}

.nav li a {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
}

.nav li:hover a {
  border: none;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
  background: none;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.section {
  padding: 50px;
}

.odd {
  background: #d5e3de;
}

.even {
  background: #f2f6f7;
}

.line {
  width: 70%;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  background: #114B5F;
}

.heading {
  padding-bottom: 30px;
}

.description {
  padding: 10px;
}

.space-thirty {
  height: 30px;
  width: 100%;
  float: left;
}

.space-ten {
  height: 10px;
  width: 100%;
  float: left;
}

img {
  height: 200px;
  width: 200px;
}

.work-img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #edf3f0;
  text-align: center;
  cursor: pointer;
}

.work-title {
  height: 150px;
  width: 150px;
  padding: 40% 0;
}

.two-liner {
  padding:  35% 0;
}

#berkanoSlide, #typoSlide, #dlsuSlide, #tgSlide, #infoSlide, #illuSlide  {
  display: none;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.item > img {
  width: auto;
  height: 450px;
  min-height: 450px;
  max-height: 450px;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.banner {
  height: 90%;
  width: 90%;
}

.objectives .line {
  width: 90%;
}

.objectives {
  color: #026F7C;
}

.slideshow {
  padding-top: 30px;
}

.footer {
  padding: 15px;
  background: #bdd3cc;
}

@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
